/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Style guide */

/*
    #24223B;
    #272078;
    #FB6B1C;
    #F2F2F1;
    #F8F8F8;
    #ACB2B5;
    background: rgb(39,32,120);
background: linear-gradient(135deg, rgba(39,32,120,1) 0%, rgba(36,34,59,1) 100%);
*/



/*          Start Custom CSS v2          */

/* Root Properties */

:root {
    --primary-color: #60BA62;
    --primary-light-color: #7DC67F;
    --secondary-color: #FF9800;
    --secondary-light-color: #FFCB7F;
    --secondary-dark-color: #88431D;
    --light-color: #FFFFFE;
    --medium-color: #F9F9F9;
    --dark-color: #EBEBEA;
    --extra-dark-color: #4E594E;


    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Montserrat Alternates', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* HTML/BODY */

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 3rem 2fr 6fr;
    height: 100dvh;
    padding: 0 1rem 1rem 1rem;
    /* flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%; */
    background-color: var(--medium-color);
}

/* Typography */

h1 {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: 300;
    color: #4E594E;
}

h2 {
    font-family: 'roboto', sans-serif;
    font-size: 1.125rem;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

/* Header */


header {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin-top: 1.5rem;
}

header img {
    width: 2rem;
    margin-right: .3rem;
    margin: 0 .3rem .3rem 1rem;
}

.header-text {
    text-align: start;
}

.header-text h2 {
    margin-left: .2rem;
}

/* Add Form Container */

.add-page {
    display: none;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 1.125rem 0 0 0;
    border-radius: 2rem;
    box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.16);

}

/* Cuisine Form */

.cuisine-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 50%;
    margin-bottom: -2rem;
    background: var(--primary-color);
    background-color: var(--light-color);
    border-radius: 2rem;
    z-index: 3;
}

.cuisine-form {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1.75rem 1.25rem;
}

.cuisine-input {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    height: 45px;
    width: 100%;
    border: none;
    color: var(--extra-dark-color);
    background-color: var(--medium-color);
    border-radius: 0 25px 25px 0;
}

.cuisine-button {
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 25px 0 0 25px;
    background-color: var(--medium-color);
}

.cuisine-button i {
    font-size: 1.25rem;
    color: var(--secondary-color);
}

/* Dishes Form */

.green-block {
    width: 100%;
    height: 2rem;
    padding: 0 1rem;
    /* position: absolute;
    bottom: 50%; */
    background-color: var(--primary-color);
}

.dish-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 50%;
    padding-top: 15px;
    border-radius: 0 0 2rem 2rem;
    background-color: var(--primary-color);
    z-index: 2;
}

.dish-form {
    width: 100%;
    margin: .75rem 1.25rem;
}

.select-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dish-select,
.cuisine-select {
    width: 47%;
    height: 28px;
    border: none;
    border-radius: 14px;
    padding: 0 13px;
    color: var(--secondary-dark-color);
    background-color: var(--light-color);

}

.add-dish {
    display: flex;
    margin-top: .75rem;
}

.dish-input {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    height: 45px;
    width: 100%;
    border: none;
    color: var(--extra-dark-color);
    background-color: var(--light-color);
    border-radius: 0 25px 25px 0;
}

.dish-button {
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 25px 0 0 25px;
    background-color: var(--light-color);
}

.dish-button i {
    font-size: 1.25rem;
    color: var(--secondary-color);
}

/* Page Toggle */

.slider-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.tabs {
    display: flex;
    position: relative;
    background-color: #fff;
    width: 100%;
    border-radius: 50px;
    box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.16);
}

.tabs * {
    z-index: 2;
}

input[type=radio] {
    display: none;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 50%;
    color: var(--extra-dark-color);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 50px;
    cursor: pointer;
    transition: colorTab 0.15s ease-in;
}

input[type=radio]:checked+label {
    color: #111;
}

.tab-label {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.15s ease-in;
}

input[type=radio]:checked+label>.tab-label {
    color: #f0f0f0;
}

.glider {
    position: absolute;
    display: flex;
    height: 48px;
    width: 50%;
    background-color: #60BA62;
    z-index: 1;
    border-radius: 50px;
    transition: 0.25s ease-out;
}

input[id=radio-1]:checked~.glider {
    transform: translateX(0);
}

input[id=radio-2]:checked~.glider {
    transform: translateX(100%);
}

/* Generator */

label {
    font-family: roboto, sans-serif;
    color: #ffffff;
}

.generator {
    display: grid;
    grid-template-rows: 3fr 1fr;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 2.25rem;
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.16);
}

.meal-container {
    display: block;
    text-align: center;
    font-family: var(--secondary-font);
    width: 100%;
    color: var(--primary-color);
}

.meal-container span {
    font-size: 2rem;
    font-weight: bold;
}

.meal-container h3 {
    font-family: var(--secondary-font);
    font-size: 1.25rem;
}

.generator-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 3rem;
    border-radius: 33rem;
    color: #fff;
    cursor: pointer;
    background-color: var(--secondary-color);
}


/* Generator Options */

.generator-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1.125rem 0;
    border-radius: 2rem;
    background-color: var(--primary-color);
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.options-icon {
    display: flex;
}

.cuisine-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.cuisine-option-select {
    margin: 0.625rem 0;
    width: 100%;
    height: 2.25rem;
    border: none;
    border-radius: 18px;
    padding: 0 13px;
    color: var(--secondary-dark-color);
    background-color: var(--light-color);
}

.sides-dessert {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

/* Number of Sides Picker */

.num-sides {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sides-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 126px;
    height: 36px;
    margin: 0.625rem 0;
    border-radius: 18px;
    background-color: var(--light-color);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
    font-size: .9rem;
    font-family: roboto;
    border: none;
    background-color: var(--light-color);
    color: var(--secondary-dark-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webtkit-apearance: none;
    margin: 0;
}

.sides-dropdown button {
    color: #ffffff;
    background-color: var(--secondary-color);
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.sides-dropdown button:active {
    background-color: var(--secondary-dark-color);
}

#decrement,
#increment {
    height: 1.75rem;
    width: 2rem;
    margin: 0 .25rem;
    border-radius: 14px;
}

/* Dessert Toggle */

.dessert-toggle-button-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.button-cover {
    margin: 0.625rem 0;
}

.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    width: 74px;
    height: 36px;
    overflow: hidden;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    border-radius: 6px;
    background-color: var(--light-color);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease all;
    z-index: 1;
}

#dessert-btn {
    overflow: visible;
}

#dessert-btn .knobs {
    perspective: 70px;
}

#dessert-btn .knobs:before,
#dessert-btn .knobs:after,
#dessert-btn .knobs span {
    position: absolute;
    top: 4px;
    border-radius: 2px;
}

#dessert-btn .knobs:before,
#dessert-btn .knobs:after {
    width: 20px;
    height: 10px;
    color: #4e4e4e;
    font-size: .7rem;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
}

#dessert-btn .knobs:before {
    content: "YES";
    left: 4px;
    font-family: roboto;
    font-weight: 400;
    color: var(--secondary-dark-color);
}

#dessert-btn .knobs:after {
    content: "NO";
    right: 4px;
    font-family: roboto;
    font-weight: 400;
    color: var(--primary-color);
}

#dessert-btn .knobs span {
    right: 4px;
    width: 33px;
    height: 28px;
    background-color: var(--secondary-color);
    transform: rotateY(0);
    transform-origin: 0% 50%;
    transition: 0.6s ease all;
    z-index: 1;
}

#dessert-btn .checkbox:checked+.knobs span {
    transform: rotateY(-180deg);
    background-color: var(--primary-color);
}

#dessert-btn .checkbox:checked~.layer {
    background-color: var(--medium-color);
}
