/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*          Start Custom CSS          */
            /* Typography */

/* h1 {
    font-family: 'Lilita One', cursive;
    font-size: 3rem;
    margin: 1rem;
}

h2 {
    font-family: 'Abel', sans-serif;
    font-size: 1.5rem;
    margin: 1rem 0 3rem 0;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: .1rem;
    margin: 2rem 0 .5rem 0;
}

span {
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(245,245,244,1) 50%, rgba(255,255,255,1) 90%);
    background-color: rgb(240, 244, 241);
}

.form-container {
    margin: 3rem;
    background-color: white;
    border-radius: 1rem;
}

form {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.cuisine-form {
    display: flex;
    flex-direction: row;
}

.select-form {
    display: flex;
    justify-content: space-evenly;
}

.cuisine-select, .dish-select {
    width: 40%;
}

.add-dish {
    display: flex;
    flex-direction: row;
    margin: 2rem 0 2rem 0;
}

form input {
    width: 100%;
}

form input, form button {
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    background-color: #F5F5F4;
}

select {
    border: 2px solid #f4b673;
    background-color: rgba(252, 145, 32, .2);
    color: #FC9120
    margin: .3rem;
    padding: .5rem 0 .5rem 1rem;
    border-radius: 1rem;
    appearance: none;
}

.cuisine-button, .dish-button {
    background: #FC9120;
    color: white;
    border: none;
    padding: .5rem;
    cursor: pointer;
    font-size: 1rem;
}

.dish-form {
    display: flex;    
}

label {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: 'Abel', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

i {
    font-size: 3rem;
}

.dice-roll {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 30vw;
    height: 30vh;
    margin: 3rem;
    padding: 3rem;
    border-radius: 1rem;
}

.dice-roll img {
    width: 100px;
    cursor: pointer;
    transition: .2s;
    -webkit-tap-highlight-color: transparent;
}

.dice {
    filter: invert(81%) sepia(41%) saturate(6225%) hue-rotate(345deg) brightness(102%) contrast(98%);
}

.dice-roll img:active {
    transform: rotate(360deg);
    -webkit-tap-highlight-color: transparent;
}


@media only screen and (max-width: 768px) {

    h1 {
        font-family: 'Lilita One', cursive;
        font-size: 4rem;
    }

    body {
        display: flex;

    }

    h3 {
        font-size: 1rem;
    }

    .dice-roll {
        display: flex;
        width: 100vw;
        height: 400px;
        border-radius: 0;
        padding: 1rem;
    }
} */


/* Style guide

#0A5688
#FFFFFF
#F9D162
#F3954F
#6BC6A5 */



/*          Start Custom CSS v2          */
            /* Typography */

h1 {
    font-family: 'Mallanna', sans-serif;
    font-size: 3rem;
    color: #0A5688;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: .77rem;
    font-weight: 300;
    color: #0A5688;
}

h3 {
    font-family: 'Abel', sans-serif;
    font-size: 1.2rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6.5rem;
    border-bottom: 2px solid #F3954F;
}

header img {
    width: 4.2rem;
    margin-right: .3rem;
}

.header-text {
    text-align: start;
    margin-bottom: .2rem;
}

.header-text h2 {
    margin-left: .2rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    height: 100vh;
    /* max-height:100%;     */
}

.form-container {
    display: none;
}

label {
    font-family: roboto, sans-serif;
    color: #0A5688;
}

.generator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.generator-options {
    display: flex;
    justify-content: space-around;
    margin: 5rem 0;
}

.num-sides {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #num-sides-sel {
    margin: 1rem 0;
    padding: 0 1rem;
    height: 36px;
    border: none;
    background-color: #ffeedc;
    appearance: none;
    font-family: roboto, sans-serif;
} */

.sides-dropdown {
    display: flex;
    align-items: center;
    align-content: center;
    height: 36px;
    margin: 1rem 0;
    background-color: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
    font-size: .9rem;
    font-family: roboto;
    border: none;
    background-color: white;
    color: #0A5688;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webtkit-apearance: none;
    margin: 0;
}

.sides-dropdown button {
    color: #ffffff;
    background-color: #F9D162;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

#decrement,
#increment {
    height: 1.75rem;
    width: 2rem;
    margin: 0 .25rem;
    border-radius: 2px;
}

.sides-dropdown button:active {
    background-color: #e6bc47;
}

/* .select-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    border: 2px solid #ffeedc;
}

.select-arrow i {
    font-size: 1.5rem;
} */

.dessert-toggle-button-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.button-cover {
    margin: 1rem 0;
}

.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    width: 74px;
    height: 36px;
    overflow: hidden;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease all;
    z-index: 1;
}

#dessert-btn {
    overflow: visible;
}

#dessert-btn .knobs {
    perspective: 70px;
}

#dessert-btn .knobs:before,
#dessert-btn .knobs:after,
#dessert-btn .knobs span {
    position: absolute;
    top: 4px;
    border-radius: 2px;
}

#dessert-btn .knobs:before,
#dessert-btn .knobs:after {
    width: 20px;
    height: 10px;
    color: #4e4e4e;
    font-size: .7rem;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
}

#dessert-btn .knobs:before {
    content: "YES";
    left: 4px;
    font-family: roboto;
    font-weight: 400;
}

#dessert-btn .knobs:after {
    content: "NO";
    right: 4px;
    font-family: roboto;
    font-weight: 400;
}

#dessert-btn .knobs span {
    right: 4px;
    width: 33px;
    height: 28px;
    background-color: #F9D162;
    transform: rotateY(0);
    transform-origin: 0% 50%;
    transition: 0.6s ease all;
    z-index: 1;
}

#dessert-btn .checkbox:checked + .knobs span {
    transform: rotateY(-180deg);
    background-color: #0A5688;
}

#dessert-btn .checkbox:checked ~ .layer {
    background-color: #bcd5e5;
}

.dice-roll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100vw;
    padding: 3rem;
    background-color: #fbfbfb;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0px -1px 10px rgba(78, 78, 78, .2);
}

.dice {
    width: 6rem;
    height: auto;
    margin: 2rem;
}